## Problem 4 (*optional*) - Parsing daily temperatures

**This is an optional task for more advanced students who want more practice.**

In this problem, the aim is to aggregate the hourly temperature data for Helsinki Kumpula and Rovaniemi weather stations to a daily level. Currently, there are 3 measurements per hour in the data.

This problem is more challenging as we provide only minimal instructions for completing the given tasks.

### What to do

- Create a new DataFrame where you have calculated mean, max and min Celsius temperatures for each day separately using the hourly values from Rovaniemi and Helsinki Kumpula

Don't forget to:

- Include useful comments in your code
- Push your solution to GitHub

### Hint

You can find help from the [Pandas Official documentation](https://pandas.pydata.org/pandas-docs/stable/) and Google. If you think you can handle this but don't know how to proceed, ask for tips in Slack!

In [16]:
# Import Pandas and read in the data from csv
import pandas as pd
import numpy as np
kumpula_temps = "data/Kumpula_temps_May_Aug_2017.csv"
rovaniemi_temps = "data/Rovaniemi_temps_May_Aug_2017.csv"

kumpula = pd.read_csv(kumpula_temps, sep=',', na_values=['*', '**', '***', '****', '*****', '******'])
print(kumpula.head(), "\n")

rovaniemi = pd.read_csv(rovaniemi_temps, sep=',', na_values=['*', '**', '***', '****', '*****', '******'])
print(rovaniemi.head())

   Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0        8770  29980  201705010000  37.0  NaN  NaN      3.0
1        8771  29980  201705010100  37.0  NaN  NaN      3.0
2        8772  29980  201705010200  37.0  NaN  NaN      3.0
3        8773  29980  201705010300  37.0  NaN  NaN      3.0
4        8774  29980  201705010400  39.0  NaN  NaN      4.0

   Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0           0  28450  201705010000  31.0  NaN  NaN     -1.0
1           1  28450  201705010020  30.0  NaN  NaN     -1.0
2           2  28450  201705010050  30.0  NaN  NaN     -1.0
3           3  28450  201705010100  31.0  NaN  NaN     -1.0
4           4  28450  201705010120  30.0  NaN  NaN     -1.0

In [22]:
#Calculating MIN, MAX, MEAN for both datasets
pd.set_option('display.max_columns', None)

kumpula['MEAN'] = kumpula['Celsius'].mean()
kumpula['MAX'] = max(kumpula['Celsius'])
kumpula['MIN'] =  min(kumpula['Celsius'])
print(kumpula.head(), "\n")

rovaniemi['MEAN'] = rovaniemi['Celsius'].mean()
rovaniemi['MAX'] = max(rovaniemi['Celsius'])
rovaniemi['MIN'] =  min(rovaniemi['Celsius'])
print(rovaniemi.head(), "\n")

   Unnamed: 0   USAF  YR--MODAHRMN  TEMP   MAX  MIN  Celsius       MEAN
0        8770  29980  201705010000  37.0  25.0 -2.0      3.0  13.926129
1        8771  29980  201705010100  37.0  25.0 -2.0      3.0  13.926129
2        8772  29980  201705010200  37.0  25.0 -2.0      3.0  13.926129
3        8773  29980  201705010300  37.0  25.0 -2.0      3.0  13.926129
4        8774  29980  201705010400  39.0  25.0 -2.0      4.0  13.926129

   Unnamed: 0   USAF  YR--MODAHRMN  TEMP   MAX  MIN  Celsius       MEAN
0           0  28450  201705010000  31.0  24.0 -7.0     -1.0  10.347777
1           1  28450  201705010020  30.0  24.0 -7.0     -1.0  10.347777
2           2  28450  201705010050  30.0  24.0 -7.0     -1.0  10.347777
3           3  28450  201705010100  31.0  24.0 -7.0     -1.0  10.347777
4           4  28450  201705010120  30.0  24.0 -7.0     -1.0  10.347777

In [125]:
# DataFrames for the results
kumpula_temp = pd.DataFrame(data=kumpula, columns=['YR--MODAHRMN', 'TIME', 'TEMP', 'MAX', 'MIN', 'MEAN'])
print(kumpula_temp.head(), "\n")

rovaniemi_temp = pd.DataFrame(data=rovaniemi, columns=['YR--MODAHRMN', 'TIME', 'TEMP', 'MAX', 'MIN', 'MEAN'])
print(rovaniemi_temp.head(), "\n")

   YR--MODAHRMN  TIME  TEMP   MAX  MIN       MEAN
0  201705010000   NaN  37.0  25.0 -2.0  13.926129
1  201705010100   NaN  37.0  25.0 -2.0  13.926129
2  201705010200   NaN  37.0  25.0 -2.0  13.926129
3  201705010300   NaN  37.0  25.0 -2.0  13.926129
4  201705010400   NaN  39.0  25.0 -2.0  13.926129

   YR--MODAHRMN  TIME  TEMP   MAX  MIN       MEAN
0  201705010000   NaN  31.0  24.0 -7.0  10.347777
1  201705010020   NaN  30.0  24.0 -7.0  10.347777
2  201705010050   NaN  30.0  24.0 -7.0  10.347777
3  201705010100   NaN  31.0  24.0 -7.0  10.347777
4  201705010120   NaN  30.0  24.0 -7.0  10.347777

In [126]:
pd.set_option('display.max_columns', None)
#Convert to timestampts
kumpula_temp['YR--MODAHRMN'] = pd.to_datetime(kumpula_temp['YR--MODAHRMN'])

#put the timestamp part of the datetime into a separate column
#kumpula_temp['TIME'] = kumpula_temp['YR--MODAHRMN'].dt.time

kumpula_df = kumpula_temp.groupby(kumpula_temp["YR--MODAHRMN"].dt.time)["MEAN"].mean()

print(kumpula_temp, "\n")

                      YR--MODAHRMN  TIME  TEMP   MAX  MIN       MEAN
0    1970-01-01 00:03:21.705010000   NaN  37.0  25.0 -2.0  13.926129
1    1970-01-01 00:03:21.705010100   NaN  37.0  25.0 -2.0  13.926129
2    1970-01-01 00:03:21.705010200   NaN  37.0  25.0 -2.0  13.926129
3    1970-01-01 00:03:21.705010300   NaN  37.0  25.0 -2.0  13.926129
4    1970-01-01 00:03:21.705010400   NaN  39.0  25.0 -2.0  13.926129
...                            ...   ...   ...   ...  ...        ...
2919 1970-01-01 00:03:21.708311900   NaN  64.0  25.0 -2.0  13.926129
2920 1970-01-01 00:03:21.708312000   NaN  64.0  25.0 -2.0  13.926129
2921 1970-01-01 00:03:21.708312100   NaN  64.0  25.0 -2.0  13.926129
2922 1970-01-01 00:03:21.708312200   NaN  64.0  25.0 -2.0  13.926129
2923 1970-01-01 00:03:21.708312300   NaN  64.0  25.0 -2.0  13.926129

[2924 rows x 6 columns]

In [127]:
pd.set_option('display.max_columns', None)
#Convert to timestampts
rovaniemi_temp['YR--MODAHRMN'] = pd.to_datetime(rovaniemi_temp['YR--MODAHRMN'])

#put the timestamp part of the datetime into a separate column
#kumpula_temp['TIME'] = kumpula_temp['YR--MODAHRMN'].dt.time

rovaniemi_df = rovaniemi_temp.groupby(rovaniemi_temp["YR--MODAHRMN"].dt.time)["MEAN"].mean()

print(rovaniemi_temp, "\n")

                      YR--MODAHRMN  TIME  TEMP   MAX  MIN       MEAN
0    1970-01-01 00:03:21.705010000   NaN  31.0  24.0 -7.0  10.347777
1    1970-01-01 00:03:21.705010020   NaN  30.0  24.0 -7.0  10.347777
2    1970-01-01 00:03:21.705010050   NaN  30.0  24.0 -7.0  10.347777
3    1970-01-01 00:03:21.705010100   NaN  31.0  24.0 -7.0  10.347777
4    1970-01-01 00:03:21.705010120   NaN  30.0  24.0 -7.0  10.347777
...                            ...   ...   ...   ...  ...        ...
8765 1970-01-01 00:03:21.708312220   NaN  46.0  24.0 -7.0  10.347777
8766 1970-01-01 00:03:21.708312250   NaN  46.0  24.0 -7.0  10.347777
8767 1970-01-01 00:03:21.708312300   NaN  48.0  24.0 -7.0  10.347777
8768 1970-01-01 00:03:21.708312320   NaN  46.0  24.0 -7.0  10.347777
8769 1970-01-01 00:03:21.708312350   NaN  48.0  24.0 -7.0  10.347777

[8770 rows x 6 columns]